.fc-license-message {
  display: none;
}
.fc-timeline-event,
.fc-daygrid-event {
  border-radius: 10px;
  background-color: #4680ff !important;
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .fc-header-toolbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .time-line-wrapper {
    zoom: 0.9;
    margin: 0 -10px;
  }

  .fc-datagrid-header .fc-datagrid-cell-cushion {
    padding: 0;
  }
}
