.fc-license-message {
  display: none;
}
.fc-timeline-event,
.fc-daygrid-event {
  border-radius: 10px;
  background-color: #4680ff !important;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .fc-header-toolbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}
